<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ester_share_app">

    <!-- 필요한 권한 정의 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- queries 설정 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:label="tester_share_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />

        <!-- 액티비티 정의 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 액티비티 관련 설정 및 테마 설정 -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- 인텐트 필터 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 추가적인 앱 설정 및 구성을 필요에 따라 정의할 수 있음 -->
                <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- <meta-data
            android:name="ca-app-pub-9128371394963939~8724134378"
            android:value="ca-app-pub-3940256099942544~3347511713"/> -->

    </application>
</manifest>
